div#khungbaongoai {
    margin-top: 150px;
    font-size: 18px;
}
.tttk p {
    margin-left: 450px;
    padding-top: 10px;
}
.NhanNoiDung {
    margin-left: 30px;
}
h2 {
    text-align: center;
   
}

h3 {
    text-align: center;
    padding: 20px;
    
}
.gvCacdonhang{
    margin-left: 380px;
    width: 500px;
    margin-bottom: 20px;
}